# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual envs
.venv/
venv/
env/

# IDE / editor
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/
